<!-- templates/registration/login.html -->




  <div class="form-container">
    <h2>Login</h2>
    <form method="post" action="{% url 'login' %}">
      
      <label for="username">Usuário:</label>
      <input type="text" id="username" name="username" required>
      
      <label for="password">Senha:</label>
      <input type="password" id="password" name="password" required>

      <button type="submit">Login</button>
    </form>
    <p>Não possui uma conta? <a href="../weather/style.css">Cadastre-se</a></p>
  </div>

