<!-- templates/registration/register.html -->




  <div class="form-container">
    <h2>Cadastro</h2>
    <form method="post" action="">
  
      <label for="username">Usuário:</label>
      <input type="text" id="username" name="username" required>
      
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>

      <label for="password">Senha:</label>
      <input type="password" id="password" name="password" required>

      <button type="submit">Cadastrar</button>
    </form>
    <p>Já possui uma conta? <a href="../weather/style.css">Faça login</a></p>
  </div>

